@model IEnumerable<waGerenciamentoAcademico.Models.Matricula>

@{
    ViewData["Title"] = "Index";
}
<p>
    <a asp-action="Create">Cadastrar Nova</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.curso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ano)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.semestre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.curso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ano)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.semestre)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id=item.id }) |
                    @Html.ActionLink("Ver Detalhes", "Details", new { id=item.id}) |
                    @Html.ActionLink("Deletar", "Delete", new { id=item.id })
                </td>
            </tr>
        }
    </tbody>
</table>
