@model waGerenciamentoAcademico.Models.Aluno

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<br />

<div>
    <h4>Aluno</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.imagem)
        </dt>
        <dd class="col-sm-10">
            <img src="/Imagens/IAlunos/@Model.nomeArquivo" class="img-rounded float-left" width="100" height="100" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.comprovante)
        </dt>
        <dd class="col-sm-10">

            <div class="row">
                <strong>
                    <a href="/Documentos/DAlunos/@Model.nomeArquivoComprovante" target="_blank">Ver Comprovante de Matrícula</a>
                </strong>
            </div>

        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id }) |
    <a asp-action="Index">Voltar</a>
</div>
